* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    width: 50%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    font-size: 2rem;
    text-transform: uppercase;
}

.invisible {
    visibility: hidden;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.form_input {
    height: 3rem;
    font-size: 2rem;
    width: 100%;
    padding-left: 10px;
    border-radius: 30px 0px 0px 30px;
}

.form_submit {
    height: 3rem;
    font-size: 2rem;
    background-color: blue;
    color: white;
    padding: 0px 15px;
    text-transform: capitalize;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
}

.form_submit:hover {
    background-color: darkblue;
    transition: all;
    transition-duration: 0.3s;
}

.shorten_url_div {
    width: 50%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}

.shorten_url {
    color: blue;
    text-decoration: underline;
    font-size: 2rem;
}